<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits Index</title>
</head>
<body>
    <script>
        console.log("this can be showed on client");
    </script>
    <h1>All Fruits</h1>
    <nav>
        <ul>
            <li>
                <a href="/fruits/new"> Add New Fruit </a>
            </li>
        </ul>
    </nav>
    <ul>
        <!-- accessing fruits from  res.render('fruits/index.ejs', { fruits: allFruits }); -->
        <% fruits.forEach(fruit => { %>
            <li><%= fruit.name %></li>
        <% }); %>
    </ul>
</body>
</html>